@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  overflow: hidden;
  background-color: rgba(5, 5, 5, 0.9);
  height: 80vh;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Protest Revolution";
}

#intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
h3 {
  text-align: center;
}

h1 {
  font-size: 52px;
  margin-bottom: 0;
}

h3 {
  font-family: "Roboto";
  font-size: 16px;
  margin-bottom: 50px;
}

input {
  background: transparent;
  color: white;
  border: solid 2px rgba(112, 193, 179, 0.75);
  border-radius: 5px;
  height: 40px;
  width: 300px;
  padding: 0 10px;
  font-size: 14px;
}

::placeholder {
  color: rgba(229, 75, 75, 0.75);
  font-size: 14px;
}

input:focus::placeholder {
  color: #e54b4b;
  opacity: 1;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: solid 2px #70c1b3 !important;
  border-radius: 5px;
}

.validationError {
  border-color: red;
}

.validationError:focus {
  border-color: red !important;
}

canvas {
  display: none;
}

#mobile-container {
  display: none;
  flex-direction: column;
  align-items: center;
}

#mobile-container h1 {
  color: #ff1b1b;
}

#mobile-error-message {
  width: 80%;
  text-align: center;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8) !important;
}

.tutorial-container {
  display: none;
  margin-top: 100px;
}

.tutorial-text-elements h1,
.tutorial-text-elements h2 {
  text-align: center;
  margin-bottom: 0;
  margin-bottom: 0;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tutorial-container button {
  width: 140px;
  height: 40px;
  font-size: 20px;
  border: solid 2px rgba(245, 245, 245, 0.251);
  border-radius: 8px;
  color: white;
}

.skip-btn {
  background: transparent;
}

.next-btn {
  background-color: rgba(221, 47, 47, 0.89);
}

.tutorial-gif {
  width: 400px;
  border-radius: 12px;
}
